body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/* CONSTANTS */
.primary-color {
	color: #6799a3;
}
.secondary-color {
	color: #e88eba;
}
.btn-default{
	background: #6799a3;
	border-color: #6799a3;
	color: #aee0c5;
}
.btn-default:hover{
	background: #fff;
	border-color: #6799a3;
}
/* END OF CONSTANTS */

/* pages navbar code */
.navbar{
        margin-bottom: 0;
}
.navbar-inverse{
	background: #f1f1f1;
	border-color: #f1f1f1;
}
.navbar-inverse .navbar-nav > li > a{
	color: #6799a3;
}
.navbar-inverse .navbar-nav > li > a:hover{
	color: #6799a3;
}
.navbar-brand {
	font-size: 40px;
}

.navbar-inverse .navbar-brand{
	color: #6799a3; 
}
.navbar-inverse .navbar-brand:hover{
	color: #6799a3; 
}

/* Index.php jumbotron code */
.jumbotron{
	height: 500px;
	background: url(../img/hero-img.jpg);
	background-position: center;
	padding-top: 200px;
    margin-bottom: 0;
}
.jumbotron h2{
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 2px;
}
/* best sellers images + prices */
.img-thumb{
	width: 100%;
}
.list-price{
	text-decoration: line-through;
}

/* best-sellers mobile css */
#best-sellers .col-md-3{
	padding-bottom: 10px;
}
/*#best-sellers{
	text-align: center;
}
#best-sellers .col-xs-12{
	padding-bottom: 10px;
}
#best-sellers .btn{
	width: 100%;
}*/
/* END OF INDEX.PHP CSS */

/* Login.php form */
.home{
	width: 100%;
	height: 100%;
	align-items: center;
	margin: 10px 0 15px 0;
	border: 3px solid lightblue;
	border-radius: 10px;
	background-color: #F8F8FF;
}
.item{
	padding: 20px;
}
#input{
	padding-bottom: 10px;
}
#input-button{
	padding: 10px;
}
/* END OF LOGIN CSS */

/* cart.php stripe css for card input */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #6799a3;
  box-shadow: 0 1px 3px 0 #6799a3;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
/* END OF CART.PHP */

/* profile.php css */
.panel-default > .panel-heading{
	background: #6799a3;
	border-color: #fff;
}
.panel-heading{
	padding: 0;
	border-right: 3px;
	border: 1px solid;
}
.panel-heading h3{
	color: #fff;
}